examples/.idea/.gitignore
examples/.idea/.name
examples/.idea/AndroidProjectSystem.xml
examples/.idea/gradle.xml
examples/.idea/migrations.xml
examples/.idea/misc.xml
examples/.idea/runConfigurations.xml
examples/.idea/vcs.xml
